@define-color base rgba(26, 27, 38, 0.6);
@define-color primary rgba(34, 38, 52, 1);
@define-color secondary #343747;
@define-color text white;
@define-color accent rgb(125, 207, 255);

.class {
    color: @primary;
    color: @secondary;
    color: @accent;
    color: @base;
    color: @text;
}

window#waybar {
    background-color: @base;
    border: 2px solid @secondary;
    border-radius: 8px;
    color: @text;
    font-family: Symbols Nerd Font, JetBrainsMono NF;
    font-size: 18px;
}

button {
    border: none;
}

.module {
    margin: 0 1px;
    padding: 0 10px;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, border 0.2s ease;
}

.chatgpt:hover,
#custom-youtube:hover,
#custom-arch:hover,
#custom-discord:hover,
#tray .module:hover,
#wireplumber:hover,
#clock:hover,
#group-power .module:hover {
    background-color: transparent;
}

tooltip {
    background: @primary;
    border: 2px solid @secondary;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    color: @text;
    transition: color 0.2s ease;
}

#workspaces button.active {
    color: @accent;
}

#workspaces button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#custom-arch {
    margin: 0 2px 0 0;
    padding: 0 10px 0 12px;
    border: 2px solid @secondary;
    border-radius: 8px 0 0 8px;
    font-size: 25px;
    color: @accent;
    background-color: @primary;
}

#tray {
    margin: 5px 4px;
    background: @primary;
    border: 2px solid @secondary;
    border-radius: 6px;
}

.chatgpt,
#custom-youtube,
#custom-discord,
#wireplumber,
#clock,
#custom-eject,
.not-power .module {
    margin: 5px 2px;
    padding: 0px 12px;
    background: @primary;
    border: 2px solid @secondary;

}

#custom-power {
    margin: 5px 5px 5px 2px;
    background: @primary;
    border: 2px solid @secondary;
}
