@define-color base rgba(26, 27, 38, 0.6);
@define-color primary rgba(40, 45, 62, 1);
@define-color secondary #494D64;
@define-color accent #7DCFFF;
@define-color text white;

.class {
    color: @primary;
    color: @secondary;
    color: @accent;
    color: @base;
    color: @text;
}


window#waybar {
    background: @base;
    border: 2px solid @secondary;
    border-radius: 15px;
    color: @text;
    font-family: Symbols Nerd Font, JetBrainsMono NF;
    font-size: 16px;
}

button {
    border: none;
}

.module {
    margin: 6px;
    padding: 0 10px;
    background: @primary;
    border-radius: 10px;
    border: 2px solid @secondary;
    transition: background-color 0.2s ease, border 0.2s ease;
}

#workspaces button.active,
.modules-center .module {
    color: @accent;
}

#workspaces button:hover {
    background: @primary;
    box-shadow: inherit;
    text-shadow: inherit;
}


label.module:hover {
    border: 2px solid @accent;
}

tooltip {
    background: @primary;
    border: 2px solid @secondary;
}


#custom-arch-icon {
    margin: 0;
    padding: 0 10 0 12px;
    border-radius: 15px 0 0 15px;
    font-size: 25px;
    color: @accent;
    background-color: @primary;
}
