@define-color base rgba(26, 27, 38, 0.6);
@define-color primary rgba(40, 45, 62, 1);
@define-color secondary #494D64;
@define-color text white;
@define-color accent rgb(125, 207, 255);
@define-color green #72D9C9;
@define-color purple #BA99F6;
@define-color orange #FE9D64;

.class {
    color: @primary;
    color: @secondary;
    color: @accent;
    color: @base;
    color: @text;
    color: @green;
    color: @purple;
    color: @orange;
}


window#waybar {
    background-color: @base;
    border: 2px solid @secondary;
    border-radius: 8px;
    color: @text;
    font-family: Symbols Nerd Font, JetBrainsMono NF;
    font-size: 18px;
}

button {
    border: none;
}

.module {
    margin: 6px 2px;
    padding: 0 10px;
    background: @primary;
    border-radius: 6px;
    border: 2px solid @secondary;
    transition: background-color 0.2s ease, border 0.2s ease;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    color: @text;
}

#workspaces button.active {
    color: @purple;
}

.modules-center .module {
    color: @purple;
}

#workspaces button:hover {
    background: @primary;
    box-shadow: inherit;
    text-shadow: inherit;
}


label.module:hover {
    border: 2px solid @accent;
}

tooltip {
    background: @primary;
    border: 2px solid @secondary;
}


#custom-arch-icon {
    margin: 0;
    padding: 0 10px 0 12px;
    border-radius: 8px 0 0 8px;
    font-size: 25px;
    color: @accent;
    background-color: @primary;
}

#group-power .module {
    padding: 0 10px 0 10px;
}

#custom-power {
    margin-right: 6px;
}
